* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

body p {
    font-size: 14px;
}

#hero {
    background-image: url(/Section3/Images/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3Vwd2s2MTgwMDgwMi13aWtpbWVkaWEtaW1hZ2Utam9iNTcyLTEuanBn.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Header */
header {
    width: 100%;
    background-color: black;
    color: rgba(255, 255, 255, 0.70);
    padding: 15px 10%;
    position: sticky;
    top: 0;
    z-index: 1;
}

header h2 {
    float: left;
    font-size: 40px;
}

.inline-block {
    display: inline-block;
}

header ul {
    padding-top: 10px;
    float: right;
}

header ul li {
    display: inline-block;
    padding-left: 48px;
}

.logo {
    text-decoration: none;
    color: #FFFFFF
}

header ul li a {
    font-size: 14px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.70);
    margin: auto;


}

.clr {
    clear: both;
}

.bg-orange {
    background-color: #FF8B38 !important;
}

.c-orange {
    color: #FF9B51;
}

.lighten {
    font-weight: 100;
}


.hero-left {
    width: 45%;
    float: left;
}

.hero-right {
    width: 45%;
    float: right;
}

.hero-right h3 {
    background-color: #F5F5F5;
    padding: 20px;
    font-size: 18px;
    color: #333333;

}

#hero form {
    background-color: white;
    text-align: center;
    width: 100%;
}

#hero input {
    padding-top: 15px;
    width: 85%;
    margin: 20px;
    border: 0;
    border-bottom: #D6D6D6;
    border-style: solid;
    outline: 0;

}

.hero-right button {
    border: 0;
    background-color: #FF9B51;
    width: 100%;
    padding: 20px;
    color: #F5F5F5;
}

.hero-left h2 {
    color: white;
    font-size: 80px;

}

.hero-left h3 {
    color: white;
    font-weight: 400;
    font-size: 25px;
}

.hero-left p {
    padding-bottom: 30px;
    color: rgba(255, 255, 255, 0.80);
}

.hero-left hr {
    width: 18%;
    margin: 25px 0;
    height: 2px;
    border: 0;
    background-color: #fff;
}

.hero-left button {
    background-color: transparent;
    border-color: white;
    color: #F5F5F5;
    padding: 15px 35px;

}

.overlay {
    background-color: rgba(0, 0, 0, 0.63);
    padding: 60px 10%;

}

/* social media */
#social {
    padding: 50px 10%;
}

.social-left {
    width: 40%;

}

.social-right {
    width: 59%;
    text-align: end;
}

.social-left h3 {
    font-size: 20px;
}

.social-left p {
    color: #86878b;
}

#social .Icon {
    font-size: 50px;
    color: #CCCCCC;
    padding: 0 0px 0 15px;
}

/* tabs */
#tabs {
    padding: 50px 10%;
    background-color: #F5F5F5;
    overflow: hidden;
}

.tab-left {
    width: 17%;
    float: left;
}

.tab-center {
    width: 42%;
    float: left;
    margin: 0 5%;
}

.tab-right {
    width: 30%;
    float: left;
}

.tab-right img {
    width: 100%;
    padding-bottom: 100px;
}

.tab-left button {
    text-align: center;
    width: 90%;
    padding: 50px 0;
    margin: 0 5% 1px 5%;
    border: 0;
    background-color: #333333;
    color: white;

}

.tab-center h3 {
    padding-bottom: 50px;
    font-size: 20px;

}

.tab-center p {
    padding-bottom: 45px;
    color: #86878b;
}

.tab-center button {
    border: 0;
    background-color: #FF8B38;
    padding: 15px 30px;
    border-radius: 3px;
    color: white;
}

/* List */
#list {
    padding: 50px 10%;
    overflow: hidden;
}

.list-left {
    width: 48%;
    float: left;
}

.list-right {
    width: 48%;
    float: right;
}

.list-right h3 {
    font-size: 20px;
    font-weight: 700;
    color: #333333;
}

.list-right hr {
    width: 20%;
    margin: 30px 0 0 0;
    border-color: #FF8B38;

}

.list-left img {
    width: 100%;
}

#list p {
    color: #86878b;
}

.list-right p {
    padding: 30px 0;
}

.list-right article h5 {
    font-size: 14px;
}

.l-article {
    width: 85%;
    float: right;
}

.l-article p {
    padding: 10px 0;
}

.list-right .icon {
    float: left;
    color: #FF8B38;
    font-size: 14px;
    padding: 10px 10px;
    margin-top: 0;
    border: #FF8B38;
    border-style: solid;
    border-radius: 100px;
    border-width: 2px;
}

/* pic */
#pic {
    background-color: #F5F5F5;
    padding: 50px 10%;
}

.pic-left {
    width: 48%;
    float: left;
}

.pic-right {
    width: 48%;
    float: right;
}

.pic-right img {
    width: 100%;
}

.pic-left h2 {
    font-size: 20px;
    color: #333333;
}

.pic-left hr {
    width: 20%;
    margin: 30px 0;
    border-color: #FF8B38;
}

.pic-left p {
    color: #86878b;
    font-size: 14px;
}

/* aw */
#aw {
    padding: 50px 10%;
    text-align: center;
    overflow: hidden;
}

#aw article {
    float: left;
    width: 30%;
}

#aw .article-center {
    margin: 0 5%;
}

#aw h2 {
    font-weight: 400;
    font-size: 24px;
    color: #212121;
}

#aw hr {
    margin: 30px auto;
    width: 10%;
    border-color: #FF8B38;
    height: 2px;
    background-color: #FF8B38;
    border: 0;
}

#aw p {
    color: #86878b;
    padding-bottom: 70px;

}

#aw article h3 {
    font-size: 20px;
    color: #333333;
    padding: 25px 0;
}

#aw article .icon {
    color: #FF8B38;
    font-size: 30px;
    padding: 20px 25px;
    border: #FF8B38;
    border-style: solid;
    border-radius: 50%;
}

/* Pricing */
#Pricing {
    padding: 50px 10%;
    text-align: center;
    background-color: #F5F5F5;
    overflow: hidden;
}

#Pricing article {
    float: left;
    width: 30%;
}

#Pricing .article-center {
    margin: 0 5%;
    position: relative;
    bottom: 40px;
}

#Pricing h2 {
    font-weight: 400;
    font-size: 24px;
    color: #212121;
}

#Pricing hr {
    margin: 30px auto;
    width: 10%;
    border-color: #FF8B38;
    height: 2px;
    background-color: #FF8B38;
    border: 0;
}

#Pricing article hr {
    margin: auto;
    width: 100%;
    border-color: #FF8B38;
    height: 7px;
    background-color: #FF8B38;
    border: 0;
}

#Pricing p {
    color: #86878b;
    padding-bottom: 100px;
}

#Pricing article h3 {
    color: #fff;
    background-color: #333333;
    padding: 20px 0;
    margin-bottom: 1px;

}

#Pricing article div {
    background-color: #333333;
    padding: 20px 0;
}

#Pricing article h1 {
    font-size: 80px;
    color: #fff;
    padding: 20px 0;
}

#Pricing article h1 span {
    font-size: 40px;
    color: #fff;
    padding: 20px 0;
}

#Pricing article .s {
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-style: italic;
}

#Pricing article p {

    color: #86878b;
    padding: 20px 0;
    background-color: white;
    margin-bottom: 1px;
}

.article-center h6 {
    font-size: 14px;
    background-color: #FF8B38;
    padding: 15px 0;
    color: #fff;
}

/* comments */
#comments {
    padding: 50px 10%;
    text-align: center;
    overflow: hidden;
}

#comments article {
    float: left;
    width: 30%;
}

#comments .article-center {
    margin: 0 5%;
}

#comment h2 {
    font-weight: 400;
    font-size: 24px;
    color: #212121;
}

#comments hr {
    margin: 30px auto;
    width: 10%;
    border-color: #FF8B38;
    height: 2px;
    background-color: #FF8B38;
    border: 0;
}

#comments p {
    color: #86878b;
    padding-bottom: 70px;
}

#comments article {
    position: relative;
}

#comments article p {
    background-color: #f5f5f5;
    text-align: left;
    padding: 15px;
}

#comments article span {
    color: #86878b;
    padding: 15px;
    font-size: 14px;
}

#comments article h3 {
    font-size: 20px;
    color: #333333;
    padding-top: 15px;
    padding-bottom: 5px;
}

/* .shape {
    border: 15px solid transparent;
    border-top-color: #f5f5f5;
    width: 0;
    position: absolute;
    left: 10%;
} */

#comments article .profile {
    margin-top: 20px;
}

#comments article .name {
    width: 70%;
    float: right;
}

#comments article .image {
    width: 30%;
    float: left;
}

#comments article img {
    width: 100%;
    float: left;
}

/* downlaod */
#download {
    padding: 60px 10%;
    text-align: center;
    background-image: url(/Section3/Images/news.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#download h2 {
    font-weight: 400;
    font-size: 24px;
    color: white;

}

#download hr {
    margin: 30px auto;
    width: 10%;
    height: 2px;
    background-color: white;
    border: 0;
}

#download p {
    color: white;
    padding-bottom: 30px;
}

#download button {
    background-color: transparent;
    color: #fff;
    border: 2px solid white;
    padding: 12px 32px;
    font-size: 14px;
}

/* contact */
#contact {
    padding: 60px 10%;
    text-align: center;
    overflow: hidden;
}

#contact h2 {
    font-weight: 400;
    font-size: 24px;
    color: #333333;

}

#contact hr {
    margin: 30px auto;
    width: 10%;
    border-color: #FF8B38;
    height: 2px;
    background-color: #FF8B38;
    border: 0;
}

#contact p {
    color: #86878b;
    padding-bottom: 30px;
}

.form-l {
    width: 45%;
    float: left;
}

.form-r {
    width: 45%;
    float: right;
    margin-left: 10%;
}

#contact input,
textarea {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #86878b;
    outline: 0;
    padding: 13px;
    margin-bottom: 20px;
}

#contact textarea {
    height: 168px;

}

#contact button {
    border: 0;
    background-color: #FF8B38;
    padding: 15px 30px;
    border-radius: 3px;
    color: white;
    margin-top: 20px;
    font-size: 15px;
}

/* footer */
#end {
    padding: 20px 10%;
    background-color: black;
    text-align: center;
}

#end .Icon {
    color: white;
    padding: 0 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

#end p {
    color: rgba(255, 255, 255, 0.50);
    font-size: 12px;
    margin-bottom: 5px;
}

#end a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.50);
}